.Section
{
    position: relative;
    margin: 16px 140px 39px 140px;
    height: 2150px;
}
.Section .mainNew 
{
    height: 560px;
}
.Section .mainNew .coverPhoto
{
    position: absolute;
    height: 560px;
    width: 1088px;
}
.Section .mainNew .coverPhoto img
{
    height: 560px;
    width: 1088px;
    border-radius: 18px;

}
.Section .mainNew .titleContainer .sliderTitle
{   
    width: 180px;
    height: 50px;
    padding: 0px 0px 0PX 17PX;
    margin: 21px 5.38px 0px 0px;
    background-color: #46B2AD;
    color: white;
    position: absolute;
    font-size: 35px;
    font-weight: bold;
}

.Section .mainNew .titleContainer .dash
{
    width: 25px;
    height: 50px;
    position: absolute;
    margin: 21px 5px 0px 208px;
    background-color: #46B2AD;
}
.Section .mainNew .titleContainer .daash
{
    width: 20px;
    height: 50px;
    position: absolute;
    margin: 21px 5px 0px 241px;
    background-color: #46B2AD;
}
.Section .mainNew .metaData p
{
    color: black;
    margin-left: 1107px;
    width: 655px;
}
.Section .mainNew .metaData .titleData
{
    font-size: 60px;
    color: #46B2AD;
    margin-top: 32px;
    font-weight: bold;
}
.Section .mainNew .metaData .writerData
{
    font-size: 40px;
    color: #396563;
    font-weight: normal;
}
.Section .mainNew .metaData .breifData
{
    font-size: 28px;
    color: #396563;
    margin-top: 18px;
    font-weight: normal;
}
.Section .mainNew .metaData .fullArticle
{
    font-size: 28px;
    color: #46B2AD;
    margin-top: 32px;
    font-weight: bold;
    text-decoration: underline;
}
.moreArticles .Title
{   
    margin-top: 40px;
    position: absolute;
    width: 1640px;
}
.moreArticles .Title p
{
    font-size: 28px;
    color: #46B2AD;
    font-weight: bold;
    float: left;
}
.moreArticles .Title hr
{
    width: 1420.5px;
    border-top: 2px solid #46B2AD;
    margin-top: 18px;
    margin-left:30.5px;
    background-color: #46B2AD;
    float: left;
}
.moreArticles .firstArticle
{
    position: absolute;
    margin-top: 119px;
}
.moreArticles .secondArticle
{
    position: absolute;
    margin-top: 457px;
}
.moreArticles .thirdArticle
{
    position: absolute;
    margin-top: 795px;
}
.moreArticles .fourthArticle
{
    position: absolute;
    margin-top: 1133px;
}
.moreArticles .ArticlePhoto 
{   
    position: absolute;
    width: 536px;
    height: 275.88px;;
}
.moreArticles .ArticlePhoto img
{
    width: 536px;
    height: 275.88px;;
}
.moreArticles .ArticleBio
{
    margin-left: 552px;
    position: absolute;
    width: 1092px;
}
.moreArticles .ArticleBio h1
{
    font-size: 45px;
    color: #46B2AD;
}
.moreArticles .ArticleBio h2
{
    font-size: 35px;
    color: #396563;
    font-weight: normal;
}
.moreArticles .ArticleBio h3
{
    font-size: 26px;
    color: #396563;
    font-weight: normal;
}
.moreArticles .ArticleBio h4
{   
    margin-top: 10px; 
    font-size: 28px;
    color: #396563;
}
.moreArticles .ArticleBio hr
{   
    width: 1087.5px;
    border-top: 2px solid #46B2AD;
    margin-top: 10px;
    background-color: #46B2AD;
    float: left;
}
.moreArticles .moreNews 
{
    position: absolute;
    color: #46B2AD;
    font-size: 28px;   
    text-decoration: underline;
    font-weight: bold;
    margin-top: 1481px;
}